<h1>Sensors</h1>
<%= erb :'dashboard/_sensors' %>

<h1>Actuators</h1>
<%= erb :'dashboard/_actuators' %>

<script type="text/javascript">
	setTimeout(function() { window.location.reload() }, 30000);
</script>
