<span class="label label-info"><%= Time.now.to_s %></span>
<a href="/software" class='pull-right btn btn-default btn-menu' title="Software Update">
	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
</a>
<a href="/firmware" class='pull-right btn btn-default btn-menu' title="Program ESP8266">
	<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
</a>
<a href="/network" class='pull-right btn btn-default btn-menu' title="Network Settings">
	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
</a>
<br/><br/>

<h1>Sensors</h1>
<%= erb :'dashboard/_sensors' %>

<h1>Actuators</h1>
<%= erb :'dashboard/_actuators' %>

<script type="text/javascript">
	setTimeout(function() { window.location.reload() }, 30000);
</script>
